<h2>Products List-{{companyName}}</h2>
<table>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let item of products">
    <td>{{item.name}}</td>
    <td>{{item.quantity}}</td>

</table>
<br>
<div>
<label for="product" class="newProd">Enter Product Name</label>
  <input type="search" #f1>
  <label for="quantity" class="newProd">Enter Quantity </label>
  <input type="search" #f2>
  <button type="submit" (click)="submit(f1,f2)" class="button" >Add Product</button>
</div>