table, th, td {
  border: 1px solid black;
}
table {
  width: 50%;
 
}
th{
  color:violet;
}
td
{
  color:blue;
}
.newProd
{
  color:red;
}
h2{
  color:green;
}
.button
{
  color:blue;
}